* {
    box-sizing: border-box;
}

body{
    background-color: #ddf1ff;
}

.sidenav {
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 2%;
    left: 1%;
    background: rgba(33, 149, 243, 0.445);
    overflow-x: hidden;
    padding: 1% 0%;
}
.info-input {
    padding: 0% 20% 10% 15%;
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: block;
    text-align: center;
}
.info-input input{
    width: 100%;
    height: 100%;
}
.info-input button{
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
}
.info-input button:hover{
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
}
#facebook-sign-in {
    background: #4C69BA;
    background-image: -webkit-linear-gradient(top, #4C69BA, #2e437a);
    background-image: -moz-linear-gradient(top, #4C69BA, #2e437a);
    background-image: -ms-linear-gradient(top, #4C69BA, #2e437a);
    background-image: -o-linear-gradient(top, #4C69BA, #2e437a);
    background-image: linear-gradient(to bottom, #4C69BA, #2e437a);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
#facebook-sign-in:hover {
    background: #5d82e8;
    background-image: -webkit-linear-gradient(top, #5d82e8, #4260ad);
    background-image: -moz-linear-gradient(top, #5d82e8, #4260ad);
    background-image: -ms-linear-gradient(top, #5d82e8, #4260ad);
    background-image: -o-linear-gradient(top, #5d82e8, #4260ad);
    background-image: linear-gradient(to bottom, #5d82e8, #4260ad);
    text-decoration: none;
}
#btngoogle{
    background:rgb(255, 108, 92) !important;
    background-image: -webkit-linear-gradient(top, rgb(255, 108, 92), #DD4B39)!important;
    background-image: -moz-linear-gradient(top, rgb(255, 108, 92), #DD4B39)!important;
    background-image: -ms-linear-gradient(top, rgb(255, 108, 92), #DD4B39) !important;
    background-image: -o-linear-gradient(top, rgb(255, 108, 92), #DD4B39)!important;
    background-image: linear-gradient(to bottom, rgb(255, 108, 92), #DD4B39)!important;
}
#btngoogle:hover{
    background:rgb(255, 149, 137) !important;
    background-image: -webkit-linear-gradient(top, rgb(255, 149, 137), rgb(226, 118, 104))!important;
    background-image: -moz-linear-gradient(top, rgb(255, 149, 137), rgb(226, 118, 104))!important;
    background-image: -ms-linear-gradient(top, rgb(255, 149, 137), rgb(226, 118, 104)) !important;
    background-image: -o-linear-gradient(top, rgb(255, 149, 137), rgb(226, 118, 104))!important;
    background-image: linear-gradient(to bottom, rgb(255, 149, 137), rgb(226, 118, 104))!important;
}
#btnprofile {
    background: #3CB371;
    background-image: -webkit-linear-gradient(top, #3CB371, #2c7d4f);
    background-image: -moz-linear-gradient(top, #3CB371, #2c7d4f);
    background-image: -ms-linear-gradient(top, #3CB371, #2c7d4f);
    background-image: -o-linear-gradient(top, #3CB371, #2c7d4f);
    background-image: linear-gradient(to bottom, #3CB371, #2c7d4f);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
#btnprofile:hover {
    background: #4bcf84;
    background-image: -webkit-linear-gradient(top, #4bcf84, #32945b);
    background-image: -moz-linear-gradient(top, #4bcf84, #32945b);
    background-image: -ms-linear-gradient(top, #4bcf84, #32945b);
    background-image: -o-linear-gradient(top, #4bcf84, #32945b);
    background-image: linear-gradient(to bottom, #4bcf84, #32945b);
    text-decoration: none;
  }
#btnreply{
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
}
#btnreply:hover{
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
}
#post_btn{
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
}
#post_btn:hover{
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
}
.mb-4{
    padding: 0% 10% 10% 10%;
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
}

.main {
    position: absolute;
    width: 80%;
    margin-left: 19%; /* Same as the width of the sidebar */
    padding: 0% 0% 0% 3%;
}
.main div{
    width:100%
}

.text-white-50 { color: rgba(255, 255, 255, .5); }

/*.bg-purple { background-color: var(--purple) }*/

.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }
