* {
    box-sizing: border-box;
}

body{
    background-color: #ddf1ff;
    font-size: 3vmin;
}
.cool{
    width: 100%;
    height:100%;
    position: fixed;
    background: linear-gradient(0deg, #ffface, #78deff,#30499b)!important;
    background-size: 600% 600%!important;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@keyframes AnimationName { 
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
.sidenav {
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 2%;
    left: 1%;
    background: rgba(0, 0, 0, 0);
    overflow-x: hidden;
    padding: 1% 0%;
    text-align: center;
    font-size: 1.5vmin;
}

.info-input {
    padding: 0% 20% 10% 15%;
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: block;
    font-size: 1.5vmin;
}
.info-input div{
    display: block;
    text-align: center;
    font-size: 1.5vmin;
}
.info-input input{
    width: 100%;
    height: 100%;
    font-size: 1.5vmin;
}
.info-input button{
    width: 100%;
    height: 100%;
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    font-family: Arial;
    color: #ffffff;
    -webkit-border-radius: 28vmin;
    -moz-border-radius: 28vmin;
    border-radius: 28vmin;
    padding: 5% 20% 5% 20%;
    font-size: 1.5vmin;
}
.info-input button:hover{
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
}
#btngoogle{
    background:rgb(255, 108, 92) !important;
    background-image: -webkit-linear-gradient(top, rgb(255, 108, 92), #DD4B39)!important;
    background-image: -moz-linear-gradient(top, rgb(255, 108, 92), #DD4B39)!important;
    background-image: -ms-linear-gradient(top, rgb(255, 108, 92), #DD4B39) !important;
    background-image: -o-linear-gradient(top, rgb(255, 108, 92), #DD4B39)!important;
    background-image: linear-gradient(to bottom, rgb(255, 108, 92), #DD4B39)!important;
    -webkit-border-radius: 28vmin!important;
    -moz-border-radius: 28vmin!important;
    border-radius: 28vmin!important;
    padding: 5% 20% 5% 20%!important;
    font-size: 1.5vmin!important;
}
#btngoogle:hover{
    background:rgb(255, 149, 137) !important;
    background-image: -webkit-linear-gradient(top, rgb(255, 149, 137), rgb(226, 118, 104))!important;
    background-image: -moz-linear-gradient(top, rgb(255, 149, 137), rgb(226, 118, 104))!important;
    background-image: -ms-linear-gradient(top, rgb(255, 149, 137), rgb(226, 118, 104)) !important;
    background-image: -o-linear-gradient(top, rgb(255, 149, 137), rgb(226, 118, 104))!important;
    background-image: linear-gradient(to bottom, rgb(255, 149, 137), rgb(226, 118, 104))!important;
}
#btnprofile {
    background: #3CB371;
    background-image: -webkit-linear-gradient(top, #3CB371, #2c7d4f);
    background-image: -moz-linear-gradient(top, #3CB371, #2c7d4f);
    background-image: -ms-linear-gradient(top, #3CB371, #2c7d4f);
    background-image: -o-linear-gradient(top, #3CB371, #2c7d4f);
    background-image: linear-gradient(to bottom, #3CB371, #2c7d4f);
    -webkit-border-radius: 28vmin;
    -moz-border-radius: 28vmin;
    border-radius: 28vmin;
    font-family: Arial;
    color: #ffffff;
    text-decoration: none;
    -webkit-border-radius: 28vmin;
    -moz-border-radius: 28vmin;
    border-radius: 28vmin;
    padding: 5% 20% 5% 20%;
    font-size: 1.5vmin;
  }
  
#btnprofile:hover {
    background: #4bcf84;
    background-image: -webkit-linear-gradient(top, #4bcf84, #32945b);
    background-image: -moz-linear-gradient(top, #4bcf84, #32945b);
    background-image: -ms-linear-gradient(top, #4bcf84, #32945b);
    background-image: -o-linear-gradient(top, #4bcf84, #32945b);
    background-image: linear-gradient(to bottom, #4bcf84, #32945b);
    text-decoration: none;
  }
.mb-4{
    padding: 0% 10% 10% 10%;
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
}
.my_line{
    background-color: white;
}
.my_line:hover{
    background-color: rgb(235, 235, 235);
}
.main {
    position: absolute;
    width: 80%;
    margin-left: 19%; /* Same as the width of the sidebar */
    padding: 0% 0% 0% 3%;
}
.main div{
    width:100%
}
#p1:hover{
    background-color: rgb(32, 49, 102)!important;
}
#p2:hover{
    background-color: rgb(39, 85, 131)!important;
}
#p3:hover{
    background-color: rgb(62, 136, 161)!important;
}
#p4:hover{
    background-color: rgb(82, 176, 191)!important;
}
#p5:hover{
    background-color: rgb(104, 210, 221)!important;
}
.text-white-50 { color: rgba(255, 255, 255, .5); }



