* {
    box-sizing: border-box;
}

body{
    background-color: #ddf1ff;
    font-size: 3vmin;
}
.cool{
    width: 100%;
    height:100%;
    position: fixed;
    background: linear-gradient(270deg, #30499b, #78deff, #30499b, #78deff, #30499b);
    background-size: 1000% 1000%;
    -webkit-animation: AnimationName 45s ease infinite;
    -moz-animation: AnimationName 45s ease infinite;
    animation: AnimationName 45s ease infinite;
    overflow-y:scroll;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
.sidenav {
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 2%;
    left: 1%;
    background: rgba(0, 0, 0, 0);
    overflow-x: hidden;
    padding: 1% 0%;
}
.info-input {
    padding: 0% 20% 10% 15%;
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: block;
    text-align: center;
}
.info-input input{
    width: 100%;
    height: 100%;
}
.info-input button{
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28vmin!important;
    -moz-border-radius: 28vmin!important;
    border-radius: 28vmin!important;
    padding: 5% 20% 5% 20%!important;
    font-size: 1.5vmin!important;
    font-family: Arial;
    color: #ffffff;
}
.info-input button:hover{
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
}
#btngoogle{
    background:rgb(255, 108, 92) !important;
    background-image: -webkit-linear-gradient(top, rgb(255, 108, 92), #DD4B39)!important;
    background-image: -moz-linear-gradient(top, rgb(255, 108, 92), #DD4B39)!important;
    background-image: -ms-linear-gradient(top, rgb(255, 108, 92), #DD4B39) !important;
    background-image: -o-linear-gradient(top, rgb(255, 108, 92), #DD4B39)!important;
    background-image: linear-gradient(to bottom, rgb(255, 108, 92), #DD4B39)!important;
    -webkit-border-radius: 28vmin!important;
    -moz-border-radius: 28vmin!important;
    border-radius: 28vmin!important;
    padding: 5% 20% 5% 20%!important;
    font-size: 1.5vmin!important;
}
#btngoogle:hover{
    background:rgb(255, 149, 137) !important;
    background-image: -webkit-linear-gradient(top, rgb(255, 149, 137), rgb(226, 118, 104))!important;
    background-image: -moz-linear-gradient(top, rgb(255, 149, 137), rgb(226, 118, 104))!important;
    background-image: -ms-linear-gradient(top, rgb(255, 149, 137), rgb(226, 118, 104)) !important;
    background-image: -o-linear-gradient(top, rgb(255, 149, 137), rgb(226, 118, 104))!important;
    background-image: linear-gradient(to bottom, rgb(255, 149, 137), rgb(226, 118, 104))!important;
}
#btnprofile {
    background: #3CB371;
    background-image: -webkit-linear-gradient(top, #3CB371, #2c7d4f);
    background-image: -moz-linear-gradient(top, #3CB371, #2c7d4f);
    background-image: -ms-linear-gradient(top, #3CB371, #2c7d4f);
    background-image: -o-linear-gradient(top, #3CB371, #2c7d4f);
    background-image: linear-gradient(to bottom, #3CB371, #2c7d4f);
    font-family: Arial;
    color: #ffffff;
    padding: 5% 20% 5% 20%!important;
    text-decoration: none;
    -webkit-border-radius: 28vmin;
    -moz-border-radius: 28vmin;
    border-radius: 28vmin;
    padding: 5% 20% 5% 20%;
    font-size: 1.5vmin;
  }
  
#btnprofile:hover {
    background: #4bcf84;
    background-image: -webkit-linear-gradient(top, #4bcf84, #32945b);
    background-image: -moz-linear-gradient(top, #4bcf84, #32945b);
    background-image: -ms-linear-gradient(top, #4bcf84, #32945b);
    background-image: -o-linear-gradient(top, #4bcf84, #32945b);
    background-image: linear-gradient(to bottom, #4bcf84, #32945b);
    text-decoration: none;
  }
#btnreply{
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    font-family: Arial;
    color: #ffffff;
    -webkit-border-radius: 28vmin;
    -moz-border-radius: 28vmin;
    border-radius: 10vmin;
    padding: 1% 2% 1% 2%;
    font-size: 1.5vmin;
}
#btnreply:hover{
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
}
#post_btn{
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    font-family: Arial;
    color: #ffffff;
    -webkit-border-radius: 28vmin;
    -moz-border-radius: 28vmin;
    border-radius: 28vmin;
    padding: 5% 20% 5% 20%;
    font-size: 1.5vmin;
}
#post_btn:hover{
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
}
.mb-4{
    padding: 0% 10% 10% 10%;
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
}

.main {
    position: absolute;
    width: 80%;
    margin-left: 19%; /* Same as the width of the sidebar */
    padding: 0% 0% 0% 3%;
}
.main div{
    width:100%
}

.text-white-50 { color: rgba(255, 255, 255, .5); }

/*.bg-purple { background-color: var(--purple) }*/

.border-bottom { border-bottom: 1vmin solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }
