* {
    box-sizing: border-box;
}

body{
    background-color: #ddf1ff;
    font-size: 3vmin;
}
button{
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28vmin!important;
    -moz-border-radius: 28vmin!important;
    border-radius: 20vmin!important;
    padding: 2% 5% 2% 5%!important;
    font-size: 3vmin!important;
    font-family: Arial;
    color: #ffffff;
}
button:hover{
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
}
.cool{
    width: 100%;
    height:100%;
    position: fixed;
    background: linear-gradient(225deg, #d0ffce, #78deff,#30499b)!important;
    background-size: 600% 600%!important;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
    overflow-y:scroll;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
.sidenav {
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 2%;
    left: 1%;
    background: rgba(0, 0, 0, 0);
    overflow-x: hidden;
    padding: 1% 0%;
    font-size: 1.5vmin;
}

.info-input {
    padding: 0% 20% 10% 15%;
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: block;
    text-align: center;
}
.info-input div{
    display: block;
}
.info-input button{
    width: 100%;
    height: 100%;
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    font-family: Arial;
    color: #ffffff;
    -webkit-border-radius: 28vmin;
    -moz-border-radius: 28vmin;
    border-radius: 28vmin!important;
    padding: 5% 20% 5% 20%!important;
    font-size: 1.5vmin!important;
}
.info-input button:hover{
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
}


.mb-4{
    padding: 0% 10% 10% 10%;
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
}
.my_line{
    background-color: white;
}
.main {
    position: absolute;
    width: 80%;
    margin-left: 19%; /* Same as the width of the sidebar */
    padding: 0% 0% 0% 3%;
}
.main div{
    width:100%
}

.text-white-50 { color: rgba(255, 255, 255, .5); }